aside {
/*     width: 372px; */
    flex-direction: column;
    gap: 16px;
}

.aside-bar-descrition {
    display: flex;
}

.aside-bar-descrition img {
    height: 90px;
}

.aside-bar-descrition--informacao {
    height: 89px;
    margin: 0px 16px 17px 16px;
}

.aside-bar-descrition--informacao h3 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin-bottom: 8px;
}

.aside-bar-descrition--informacao p {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    margin-bottom: 7px;
}