main {
    display: flex;
    margin-top: 28px;
}

#video-central {
    display: flex;
    flex-direction: column;
    width: 952px;
    height: 746px;
    margin-left: 75px;
    gap: 16px;
    margin-right: 25px;
}

#video-central h1 {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    line-height: 23.44px;
}

#video-central-action {
    display: flex;
    justify-content: space-between;
    width: 902px;
    height: 42px;
}

.video-central-action--item {
    display: flex;
    justify-content: space-between;
}

.item-dio {
    width: 160px;
    align-items: center;
}

.item-dio p {
    color: #515151;
    font-weight: 400;
}

.item-dio span {
    color: #000000;
    display: block;
}

.video-central-action--item button {
    width: 159px;
    height: 40px;
    border: 1px solid #cc0000;
    border-radius: 2px;
    background-color: #cc0000;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.41px;
    color: #ffffff;
}

.like {
    gap: 8px;
    align-items: center;
}

.deslike {
    gap: 8px;
    align-items: center;
}

.share {
    gap: 8px;
    align-items: center;
}

.download {
    gap: 8px;
    align-items: center;
}

#video-central p{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.descrition {
    width: 510px;
    height: 64px;
    color: #515151;
}